<div class="grid place-content-center pt-36 relative mx-16">
    <img src="/Bock temporal.png" alt="Rana Chiki" class="w-96 h-96 rotate-12">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center mt-10">
        <h3 class="text-5xl text-white font-bold hover:text-teal-500 hover:drop-shadow-teal-700/55 hover:text-6xl hover:scale-110">Nuevo libro ya disponible   </h3>
        <p class="mt-2 text-2xl text-gray-300">Escrito por:</p>
        <h3 class="text-3xl text-gray-300 hover:text-red-500 hover:text-5xl">Sara Romero Cabrera</h3>
    </div>
</div>