<div class="container pt-10 ml-7">
    <div class="grid grid-cols-3 gap-10">
        <div>
            <img src="Flexo 1.jpg" alt="">
        </div>
        <div>
            <img src="Flexo 2.jpg" alt="">
        </div>
        <div>
            <img src="Flexo 3.jpg" alt="">
        </div>
        <div>
            <img src="flexografia 4.png" alt="">
        </div>
        <div>
            <img src="flexografia 5.png" alt="">
        </div>
        <div>
            <img src="flexografia 6.png" alt="">
        </div>
    </div>
</div>