---
import Footer from "../components/Footer.astro";
import Layout404 from "../layouts/Layout404.astro";


---
<Layout404 title="404 - NO encontrado" >
    <div class="grid grid-cols-1 justify-items-center">
        <h1 class="text-5xl mt-16 text-teal-600">
             <p class="text-center text-7xl text-teal-400">404!</p> Page not found
        </h1>
        <img src="/Rana reparacion.png" alt="" srcset="">
        <p class="mx-96 pt-10 text-teal-600 text-center ">
            Lo sentimos, la pagina a la que intentas acceder no esta en funcionamiento. Si es urgente lo que necesitas, con gusto te atenderemos al correo: <span class="text-2xl text-teal-400"> tueor.contacto@gmail.com </span>
        </p>
    </div>
<div class=" pt-24">
    <Footer></Footer>
</div>
</Layout404>