---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero/Hero.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Tueor">
    <Navbar/>
    <Hero></Hero>
    <div class="fixed bottom-0 right-0 p-4 h-40 w-40 hover:h-48">
            <img src="/Rana para pagina.png" alt="" >
    </div>
</Layout>
