---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import CartLogo from '../components/CartLogo.astro';
import Productos from '../components/Productos.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Tueor">
    <Navbar></Navbar>
    <Hero></Hero>
    <div class="pt-32 container mx-6">
        <h2 class="text-5xl my-8 mx-10 capitalize text-teal-600">Lorem</h2>
        <CartLogo/>
    </div>
    <div class="pt-32">
        <h2 class="text-5xl my-8 mx-10 capitalize text-teal-800">Nuestro <spanc class="text-teal-500 underline decoration-wavy">Productos</span></h2>
        <Productos/>
    </div>
    <Contacto></Contacto>
    <div class="fixed bottom-0 right-0 p-4 h-40 w-40 hover:h-48 hover:w-44">
            <img src="/Rana para pagina.png" alt="" >
    </div>
</Layout>
