---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import CartLogo from '../components/CartLogo.astro';
import Productos from '../components/Productos.astro';
import Contacto from '../components/Contacto.astro';
import Suscripcion from '../components/Suscripcion.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Tueor">
    <Navbar></Navbar>
    <Hero></Hero>
    <div class="pt-32">
        <h2 class="text-5xl my-8 mx-10 capitalize text-teal-600">¿Quienes somos?</h2>
        <div class="w-full flex justify-center ">
            <CartLogo/>
        </div>
    </div>

    <div class="pt-32">
        <h2 class="text-5xl my-8 mx-10 capitalize text-teal-800">Nuestro<span class="text-teal-500 underline decoration-wavy">Productos</span></h2>
        <div class="w-full flex justify-center">
            <Productos/>
        </div>
    </div>

    <div class="pt-20">
        <div class="w-full flex justify-center">
            <Contacto/>
        </div>
    </div>
    <div class="pt-20">
        <Suscripcion></Suscripcion>
    </div>
    <div class="fixed bottom-0 right-0 p-4 h-40 w-40 hover:h-48 hover:w-44">
        <a href="/">
            <img src="Rana para pagina.png" alt="" >
        </a>
    </div>
    <div>
        <Footer></Footer>
    </div>
</Layout>
