---
import CartLogo from "../components/CartLogo.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Mision from "../components/Nosotros componentes/Mision.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Sobre Tueor">
    <Navbar/>

        <div class="w-full flex justify-center py-20">
            <CartLogo/>
        </div>

    <div class="w-full flex justify-center">
        <Mision/>
    </div>
    <div class="pt-10">
        <Footer/>
    </div>
</Layout>