
<div class="bg-black container rounded-3xl ">
    <div class="flex justify-center items-cente">
        <img src="/From cart.png" alt="">
    </div>
    <div class="flex justify-center items-cente py-10">
        <h2 class="text-5xl text-green-50 uppercase">T <span class="text-teal-600">u</span> e <span class="text-teal-600">o</span> r</h2>
        
    </div>
    <div class="flex justify-center items-cente mx-10">
        <p class="text-xl text-green-50 text-center">Los clientes a los que va dirigida nuestra propuesta, son las empresas pequeñas del sector de la impresión que quieran crecer a nivel comercial y llegar a superar a la competencia gracias a la aplicación de las normas de calidad y diversas estrategias para llevarlas a cabo. </p>
    </div>
    <div class="flex justify-center items-cente mx-10 pt-5">
        <p class="text-xl text-green-50 text-center">
            También buscamos incentivar el aprendizaje autónomo y guiado de las personas que quieran especializarse en el sector de la industria de la comunicación gráfica, ya sean aprendices, técnicos, estudiantes, empresarios o emprendedores.
        </p>
    </div>
    <br><br>
</div>