
<div class="bg-black container rounded-3xl">
    <div class="flex justify-center items-cente">
        <img src="/From cart.png" alt="">
    </div>
    <div class="flex justify-center items-cente py-10">
        <h2 class="text-5xl text-green-50 uppercase">T <span class="text-teal-600">u</span> e <span class="text-teal-600">o</span> r</h2>
        
    </div>
    <div class="flex justify-center items-cente mx-10">
        <p class="text-xl text-green-50 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur itaque, sint facere neque tenetur exercitationem praesentium pariatur minus quos, temporibus ab necessitatibus, accusantium quia numquam sed modi omnis suscipit beatae quas id quidem quod eius tempora atque. Ipsa, corporis quos placeat ratione provident qui suscipit laboriosam accusamus delectus quis officiis voluptatum porro inventore possimus laborum id maxime omnis dignissimos magnam.</p>
    </div>
    <br><br>
</div>