<div class="container w-full h-full bg-black mx-7 rounded-2xl grid grid-cols-1 justify-items-center">
    <div class=" mt-40">
        <h1 class="text-5xl text-green-50">
            <span class="text-teal-600 underline decoration-wavy">Contacta</span> con el <span class="text-teal-600 underline decoration-wavy">lider del proyecto</span>
        </h1>
    </div>
    <div class="m-16 mb-40">
        <a href="mailto:sararc29@hotmail.com?subject=Tu proyecto me gusto.">
        <button class="relative px-8 py-2 rounded-md bg-black isolation-auto z-10 border-2 border-teal-400
        before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-right-full before:hover:right-0 before:rounded-full  before:bg-teal-400 before:-z-10  before:aspect-square before:hover:scale-150 overflow-hidden before:hover:duration-700 text-teal-400 hover:text-slate-950 text-3xl shadow-lg hover:shadow-teal-400/50" >Correo</button></a>
    </div>
</div>