<div class="grid grid-cols-3 mb-40"> 
    <div class="grid grid-cols-1 place-items-center">
        <div class="m-12 bg-neutral-900 max-w-[300px] rounded-xl hover:bg-black hover:scale-110 duration-700 p-5">
            <img src="/Logo.png" alt="">
            <h4 class="py-2 text-white font-bold text-3xl mb-5">Suscripción Mensual</h4>
            <p class="leading-7 text-white font-semibold space-y-4 text-5xl">5.99$</p>
            <div class="py-10">
              <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
              <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
              <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
              <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
            </div>
            <div class="pt-5 pb-2 flex justify-center">
              <div class="">
                <a href="">
                <button class="relative px-8 py-2 rounded-md bg-neutral-900 hover:bg-black isolation-auto z-10 border-2 border-teal-400
                before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-right-full before:hover:right-0 before:rounded-full  before:bg-teal-400 before:-z-10  before:aspect-square before:hover:scale-150 overflow-hidden before:hover:duration-700 text-teal-400 hover:text-slate-950 text-3xl shadow-lg hover:shadow-teal-400/50" >Suscribirse</button></a>
            </div>
            </div>
          </div>
    </div>

    <div class="grid grid-cols-1 place-items-center">
      <div class="m-12 bg-neutral-900 max-w-[300px] rounded-xl hover:bg-black hover:scale-110 duration-700 p-5">
          <img src="/Logo.png" alt="">
          <h4 class="py-2 text-white font-bold text-3xl mb-5">Suscripción mensual premium</h4>
          <p class="leading-7 text-white font-semibold space-y-4 text-5xl">5.99$</p>
          <div class="py-10">
            <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
            <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
            <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
            <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
            <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
            <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
            <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
          </div>
          <div class="pt-5 pb-2 flex justify-center">
            <div class="">
              <a href="">
              <button class="relative px-8 py-2 rounded-md bg-neutral-900 hover:bg-black isolation-auto z-10 border-2 border-teal-400
              before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-right-full before:hover:right-0 before:rounded-full  before:bg-teal-400 before:-z-10  before:aspect-square before:hover:scale-150 overflow-hidden before:hover:duration-700 text-teal-400 hover:text-slate-950 text-3xl shadow-lg hover:shadow-teal-400/50" >Suscribirse</button></a>
          </div>
          </div>
        </div>
  </div>

  <div class="grid grid-cols-1 place-items-center">
    <div class="m-12 bg-neutral-900 max-w-[300px] rounded-xl hover:bg-black hover:scale-110 duration-700 p-5">
        <img src="/Logo.png" alt="">
        <h4 class="py-2 text-white font-bold text-3xl mb-5">Suscripción Anual</h4>
        <p class="leading-7 text-white font-semibold space-y-4 text-5xl">5.99$</p>
        <div class="py-10">
          <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
          <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
          <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
          <p class="text-sm leading-7 text-slate-300 ">-veneficio 1</p>
        </div>
        <div class="pt-5 pb-2 flex justify-center">
          <div class="">
            <a href="">
            <button class="relative px-8 py-2 rounded-md bg-neutral-900 hover:bg-black isolation-auto z-10 border-2 border-teal-400
            before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-right-full before:hover:right-0 before:rounded-full  before:bg-teal-400 before:-z-10  before:aspect-square before:hover:scale-150 overflow-hidden before:hover:duration-700 text-teal-400 hover:text-slate-950 text-3xl shadow-lg hover:shadow-teal-400/50" >Suscribirse</button></a>
        </div>
        </div>
      </div>
</div>
</div>