
<div class=" px-10">
    <div class="p-10 flex bg mb-10 rounded-2xl">
        <div class="grid grid-cols-2 gap-4 ">
            <div>
                <p class="mb-5 text-5xl text-gray-300">
                     <span class="text-teal-600">M</span>ision
                </p>
                <p class="text-gray-300">
                    Tueor se dedica a proporcionar formación de alta calidad a emprendedores y profesionales del sector de la impresión. A través de una amplia gama de materiales educativos, tanto digitales como impresos, ofrecemos recursos que son fáciles de comprender, constantemente actualizados, detalladamente explicativos y económicamente accesibles. Nuestro objetivo es no solo educar, sino también inspirar y capacitar a nuestros usuarios, brindándoles el conocimiento necesario para sobresalir en la industria de la comunicación gráfica. Con un enfoque en la claridad y la accesibilidad, nos esforzamos por hacer que la información técnica y especializada sea comprensible para todos, fomentando así el crecimiento y la innovación en el sector.
                </p>
            </div>
            <img src="/Flexo 3.jpg" alt="" class=" rounded-r-3xl">
        </div>
    </div>

    <div class="p-10 flex bg mb-10 rounded-2xl">
        <div class=" grid grid-cols-2 gap-4">
            <img src="/Flexo 3.jpg" alt="" class="rounded-l-3xl">
            <div>
                <p class="mb-5 text-5xl text-gray-300">
                    <span class="text-teal-600">V</span>ision
                </p>
                <p class="text-gray-300">
                    Nuestro objetivo es promover el desarrollo y el crecimiento profesional de las pequeñas industrias y de los individuos especializados en el sector de la impresión. Nos esforzamos por brindar apoyo y recursos que impulsen su progreso, no solo a nivel nacional, sino también en el ámbito internacional. A través de programas de capacitación, acceso a tecnologías avanzadas y la creación de redes de colaboración, buscamos fortalecer sus capacidades y ampliar sus oportunidades. Creemos firmemente en el potencial de estas pequeñas industrias y profesionales para innovar y liderar en el mercado global, y estamos comprometidos a acompañarlos en cada paso de su camino hacia el éxito
                </p>
            </div>
        </div>
    </div>


    <div class="p-10 flex bg rounded-2xl">
        <div class=" grid grid-cols-2 gap-4">
            <div>
                <p class="mb-5 text-5xl text-gray-300">
                ¿<span class="text-teal-600">Q</span>uienes <span class="text-teal-600">S</span>omos? 
                </p>
                <p class="text-gray-300">
                    Tueor, busca generar material formativo de diferentes tipos, que sea de fácil acceso y de bajo costo, enfocado en el sector de la industria de la comunicación gráfica.
A través de nuestra página web, que contará con distintos medios de comunicación, brindaremos libros en formato impreso y digital, con un diseño que facilite el aprendizaje autónomo de cada individuo. También daremos capacitaciones en empresas que busquen un aprendizaje guiado para los integrantes de su organización, de manera virtual, presencial y pregrabada.

            </div>
            <img src="/Flexo 3.jpg" alt="" class="rounded-r-3xl">
        </div>
    </div>
</div>


<style>
    .bg{
        background-color:#181717 ;
    }
</style>