
<div class="">

    <div class="p-10 flex bg mb-10 rounded-2xl">
        <div class="grid grid-cols-2 gap-4 ">
            <div>
                <p class="mb-5 text-5xl text-gray-300">
                     <span class="text-teal-600">M</span>ision
                </p>
                <p class="text-gray-300">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illum vel tenetur corrupti maiores, explicabo aliquam dignissimos facilis quaerat nihil cum assumenda numquam, sint quisquam nemo. Corporis debitis natus molestias, architecto impedit, reiciendis tenetur neque accusamus aspernatur nisi, aut repellendus et ipsam? Natus fuga atque quasi hic ipsa minus ex?
                </p>
            </div>
            <img src="/Flexo 3.jpg" alt="" class=" rounded-r-3xl">
        </div>
    </div>

    <div class="p-10 flex bg mb-10 rounded-2xl">
        <div class=" grid grid-cols-2 gap-4">
            <img src="/Flexo 3.jpg" alt="" class="rounded-l-3xl">
            <div>
                <p class="mb-5 text-5xl text-gray-300">
                    <span class="text-teal-600">V</span>ision
                </p>
                <p class="text-gray-300">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illum vel tenetur corrupti maiores, explicabo aliquam dignissimos facilis quaerat nihil cum assumenda numquam, sint quisquam nemo. Corporis debitis natus molestias, architecto impedit, reiciendis tenetur neque accusamus aspernatur nisi, aut repellendus et ipsam? Natus fuga atque quasi hic ipsa minus ex?
                </p>
            </div>
        </div>
    </div>


    <div class="p-10 flex bg rounded-2xl">
        <div class=" grid grid-cols-2 gap-4">
            <div>
                <p class="mb-5 text-5xl text-gray-300">
                ¿<span class="text-teal-600">Q</span>uienes <span class="text-teal-600">S</span>omos? 
                </p>
                <p class="text-gray-300">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illum vel tenetur corrupti maiores, explicabo aliquam dignissimos facilis quaerat nihil cum assumenda numquam, sint quisquam nemo. Corporis debitis natus molestias, architecto impedit, reiciendis tenetur neque accusamus aspernatur nisi, aut repellendus et ipsam? Natus fuga atque quasi hic ipsa minus ex?
                </p>
            </div>
            <img src="/Flexo 3.jpg" alt="" class="rounded-r-3xl">
        </div>
    </div>
</div>


<style>
    .bg{
        background-color:#181717 ;
    }
</style>